<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Confirmation</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-purple-500 to-pink-500">
  {{> navbar}}

  <div class="container mt-5">
    <h1 class="text-center mb-4">Confirm Booking</h1>
    <p>Are you sure you want to book this time slot?</p>
    
	<p>Please note that this booking is confirmed. If you need to cancel or make changes to your booking, please contact the sitter directly.</p>
    <p>For any inquiries or assistance, feel free to contact us at support@petsitters.com.</p>
    <p>Thank you for choosing our services!</p>
	<button id="confirmButton" class="btn btn-primary">Confirm Booking</button>
    <div id="confirmationMessage" class="alert alert-success mt-4" role="alert" style="display: none;">
      Your time slot has been successfully booked!
    </div>
    <hr>
    <p><small>By confirming this booking, you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</small></p>
  </div>

  {{> footer}}
  <script>
    $(document).ready(function(){
      $('#confirmButton').click(function(){
        $('#confirmationMessage').show();
      });
    }); 
  </script>
  
</body>
</html>
