<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
      <p>Copyright © 2024 - All right reserved by ACME Industries Ltd</p>
    </aside>
  </footer>
</head>
<body class="bg-gradient-to-r from-purple-500 to-pink-500">
  {{> navbar}}
      
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Log In</h3>
            {{#message}}
              <div class="alert alert-danger" role="alert"> 
                {{message}}   
              </div>
              {{/message}}

          </div>
            <div class="card-body">
            <form action="/login" method="POST">
              <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              <label for="email">Password</label>
              <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer}}     
</body>
</html>
