<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pet</title>
    <style>
      .btn-primary,
      .btn-primary:hover,
      .btn-primary:active,
      .btn-primary:visited {
        background-color: #8064a2 !important;
        border-color: #8064a2 !important;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Pet Sitting</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="#">A propos de nous</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Nos Services</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              {{#user}}
              <a href="/profile" style="padding-right: 20px;" >Bonjour, {{user.name}}</a>
              <a class="btn btn-primary"  href="/logout">Déconnexion</a>
              {{/user}}
              {{^user}}
              <a class="btn btn-primary" href="/login">Connexion</a>
              {{/user}}
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </body>
</html>
