<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-size: cover;
      height: 100vh;
      flex-grow: 1;
    }
    .card {
      margin-top: 100px;
    }
    .card-header {
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
  {{> navbar}}
      
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Register</h3>
            {{#message}}
            <div class="alert alert-danger" role="alert"> 
              {{message}}   
            </div>
            {{/message}}


          </div>
            <div class="card-body">
            <form action="/register" method="POST">
              <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">

              <label for="email">Name</label>
              <input type="name" class="form-control" id="name" name="name"  placeholder="Enter name">
              <label for="email">Password</label>
              <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password"><br>
              <label>Role</label><br>
              <label><input type="radio" name="role" value="sitter">Sitter</label><br>
              <label><input type="radio" name="role" value="owner">Owner</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block"style="background-color: purple ; color: white;">Submit</button>

            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer}} 
  
      
</body>
</html>
