<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sitters</title>
    
    <!-- Link to your CSS file -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body class="bg-gradient-to-r from-purple-500 to-pink-500">
    {{> navbar}} 
    {{^message}}
    <p class="text-2xl text-wrap pt-24 pl-24 text-slate-100">Our {{animal}} sitters around you:</p>

        <!-- Search input for filtering by city -->
    <div class="flex justify-start mb-6 mt-12">
          <input id="citySearch" type="text" class="input max-w-xs ml-20" placeholder="Search by city">
          <input id="postalCodeSearch" type="text" class="input max-w-xs ml-12" placeholder="Search by postal code"> 
    </div>
    
    <div class="flex flex-start flex-wrap m-12 my-12">
      {{/message}}
      {{#message}}
    <p class="text-2xl text-wrap pt-24 pl-24 text-slate-100">{{message}}</p>

        <!-- Search input for filtering by city -->
        <div class="flex justify-start mb-6 mt-12">
          <input id="citySearch" type="text" class="input max-w-xs ml-20" placeholder="Search by city">
          <input id="postalCodeSearch" type="text" class="input max-w-xs ml-12" placeholder="Search by postal code">
        </div>

    <div class="flex flex-start flex-wrap m-12 my-12">
      {{/message}}
      {{#sitters}}
    <div class="card card-side bg-base-100 shadow-xl m-4">
      <figure class="max-w-40"><img src="{{picture}}" alt="Sitter"/></figure>
      <div class="card-body">
        <a href="sitter/{{userId}}"><h2 class="card-title">{{name}}</h2></a>
        <p>{{postalCode}}, {{city}}</p>
        <p class="text-slate-300">Click the button to book an appointment.</p>
        <div class="card-actions justify-end">
          {{^slots}}
              <p class="text-lg" >No available slots</p>
          {{/slots}}
          {{#slots}}
          <form action="/confirmation/book_slot/{{slotId}}" method="POST">
          <button class="btn btn-primary" type="submit">{{beg}} - {{end}}</button>
          </form>
          {{/slots}}
        </div>
      </div>
    </div>
    {{/sitters}}
  
    </div>
    {{> footer}}

        <!-- JavaScript to filter sitters by postal code -->
        <script>
          $(document).ready(function() {
            $('#postalCodeSearch').on('input', function() {
              const searchValue = $(this).val().toLowerCase();
              $('.card').each(function() {
                const sitterPostalCode = $(this).find('p').text().split(',')[0].trim().toLowerCase();
                if (sitterPostalCode.includes(searchValue)) {
                  $(this).show();
                } else {
                  $(this).hide();
                }
              });
            });
          });

          $(document).ready(function() {
            $('#citySearch').on('input', function() {
              const searchValue = $(this).val().toLowerCase();
              $('.card').each(function() {
                const sitterCity = $(this).find('p').text().split(',')[1].trim().toLowerCase();
                if (sitterCity.includes(searchValue)) {
                  $(this).show();
                } else {
                  $(this).hide();
                }
              });
            });
          });
        </script>
  </body>
</html>
