<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <title>Sitter admin</title>
  </head>
  <body class="bg-gradient-to-r from-purple-500 to-pink-500">
    {{> navbar}}
    <div class="flex items-start justify-start h-screen w-screen">
      <div class="bg-white shadow-md rounded p-8 mx-12 mt-12 w-screen flex">
        <div class="h-24 w-24">
          <div class="avatar">
            <div class="w-24 rounded-full">
              <img
                src="{{user.picture}}"
              />
            </div>
          </div>
        </div>

        <div class="mx-12">
          <div>
            <p class="font-semibold">{{user.name}}</p>
            <p>{{user.postalCode}}, {{user.city}}</p>
            <hr class="p-2 mt-4" />
          </div>
          <div>
            <p class="font-semibold my-6">My bookings</p>
            <div>
              <p class="font-semibold mb-2">Pending for validation</p>
              {{#pendingSlots}}


              <form action="/confirmation/accept_booking/{{slotId}}" method="POST">
                <button
                  class="btn btn-secondary mr-4 mb-4"
                  type="submit"
                >
                {{beg}} - {{end}}
              </button>
              </form>

              


              {{/pendingSlots}}
              <hr class="p-2 mt-4" />
            </div>
            <div>
              <p class="font-semibold mb-2">Verified</p>
              {{#confirmedSlots}}
              <form action="/confirmation/cancel_booking/{{slotId}}" method="POST">
                <button
                  class="btn btn-accent mr-4 mb-4"
                  type="submit"
                >
                {{beg}} - {{end}}
              </button>
              </form>
              {{/confirmedSlots}}
              <hr class="p-2 mt-4" />
            </div>
            <div>
              <p class="font-semibold mb-2">Free</p>
              {{#availableSlots}}
              <form action="/confirmation/delete_slot/{{slotId}}" method="POST">
                <button
                  class="btn btn-primary mr-4 mb-4"
                  type="submit"
                >
                {{beg}} - {{end}}
              </button>
              </form>
              {{/availableSlots}}
              <hr class="p-2 mt-4" />
            </div>
          </div>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------------------->

      <div class="bg-white shadow-md rounded p-8 mx-12 mt-12 w-screen flex">
        <div class="mx-12">
          <div>
            <p class="font-semibold">Create new time slot</p>
            <hr class="p-2 mt-4" />
          </div>
          <div>
            <form action="/create_slot" method="POST" id="createSlotForm">
              <div class="flex flex-start">
                <div class="mr-4">
                  <!-- Your HTML content here -->

                  <label class="flex items-start gap-2 text-sm mb-2"
                    ><p class="font-semibold">Enter debut date & time</p></label
                  >
                  <input
                    class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    type="text"
                    id="begDatetimepicker"
                    placeholder="Debut Date and Time"
                    name="begDateime"
                  />
                  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                  <script>
                    flatpickr("#begDatetimepicker", {
                      enableTime: true,
                      dateFormat: "Y-m-d H:i",
                    });
                  </script>
                </div>

                <div>
                  <!-- Your HTML content here -->
                  <label class="flex items-start gap-2 text-sm mb-2"
                    ><p class="font-semibold">Enter end date & time</p></label
                  >
                  <input
                    class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    type="text"
                    id="endDatetimepicker"
                    placeholder="End Date and Time"
                    name="endDateTime"
                  />
                  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                  <script>
                    flatpickr("#endDatetimepicker", {
                      enableTime: true,
                      dateFormat: "Y-m-d H:i",
                    });
                  </script>
                </div>
              </div>
              
              <button
                class="btn btn-primary my-4"
                type="submit"
              >
                Create
              </button>
              
              <hr class="p-2 mt-4" />
            </div>
            </form>
                  </div>
                </div>
              </dialog>
              <hr class="p-2 mt-4" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
