<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{sitter.name}}</title>
  </head>
  <body>
    {{> navbar}}
    <div class="flex items-start justify-start h-screen w-screen">
      <div class="bg-white shadow-md rounded p-8 m-12 w-screen flex">
        <div class="h-24 w-24">
          <div class="avatar">
            <div class="w-24 rounded-full">
              <img
                src="{{sitter.picture}}"
              />
            </div>
          </div>
        </div>
        <div class="mx-12">
          <p class="font-semibold">{{sitter.name}}</p>
          <p>{{sitter.postalCode}}, {{sitter.city}}</p>
          <hr class="p-2 mt-4" />
          {{#sitter.slots}}
          <button
            class="btn btn-primary mr-4 mb-4"
            onclick="confirmation_modal.showModal()"
          >
            {{beg}} - {{end}}
          </button>

          <!-- Open the modal using ID.showModal() method -->
          <dialog id="confirmation_modal" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Confirm!</h3>
              <p class="py-4">
                Do you confirm booking this time slot? Press ESC key or click
                the button below to close
              </p>
              <div class="modal-action">
                <form action="/book_slot/{{slotId}}" method="POST">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn btn-primary">Confirm</button>
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>

          {{/sitter.slots}}
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
